DJANGO_SECRET_KEY=change-moi-en-une-longue-chaine-aleatoire
DJANGO_SETTINGS_MODULE=config.settings.dev

DB_NAME=iepp_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:4200

ALLOWED_HOSTS=votre-domaine.com,www.votre-domaine.com

IEPP_CIRCONSCRIPTION_NOM=IEPP de Cocody

FIELD_ENCRYPTION_KEY=